/boost_1_49_0
/.sconsign.dblite
/sources/VS2010/Debug
/sources/VS2010/Release
/ZPR.exe
/build
/sources/VS2010/neurTest/Debug
/sources/VS2010/ZPR.opensdf
/sources/VS2010/ZPR.sdf
/sources/VS2010/ipch
/boost
/sources/VS2010/TestTemplate/Tests
/sources/VS2010/WaveReaderTest/Tests
/sources/VS2010/Tests
/sources/VS2010/neurTest/Tests
/tests
/tests/SConscript
*.exe
*.ilk
*.pdb
